---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import SocialSidebar from '../components/SocialSidebar.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Music from '../components/Music.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="Sunkissed - Indie Rock Band" description="Sunkissed is an indie rock band bringing warm melodies and heartfelt lyrics to audiences everywhere.">
  <Navigation />
  <SocialSidebar />
  <main>
    <Hero />
    <About />
    <Music />
    <Contact />
  </main>
</Layout>
